/* * {
    border: solid #000000;
} */
.toggle{
    display: none;
    color: #333;
}
.toggle-button{
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.heading{
    color: white;
    font-size: 20px;
    margin: 15px;
    /* text-align: center; */
}
#navbg {
    position: fixed;
    width: 99%;
    /* height: 50px; */
    top: 1%;
    display: flex;
    background-color: #333;
    }
    #navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    #navbar a:hover{
        background-color: grey;
    }
    .activepage{
        background-color: coral;
    }
@media (max-width: 600px){
    .toggle{
        display: flex;
    }
    #navbar p{
        display: none;
        /* flex-direction: column; */
    }
    .activepage{
        background-color: #333;
    }
    .ul{
        width: 100%;
    }
    .navlink.active{
        display: flex;
    }
}
    .links{
        text-align: left;
        display: flex;
    }
    .links a{
        text-decoration: none;
        color: rgb(62, 6, 100);
        font-style: normal;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .ib{
        display: inline-block;
        /* width: 600px; */
        /* text-align: center; */
    }
    .center{
        margin: 0px;
    }
    .mauto{
        margin: auto;
    }
    .abttxt{
        /* width: 600px; */
        max-width: 600px;
        margin: 10px;
        font-style: italic;
        font-family: monospace;
        font-size: large;
    }
    .professionallinks{
        text-decoration: none;
        display: inline-block;
    }
    .img{
        /* position: relative; */
        display: inline-block;
        max-width: 100%;
        /* margin: 30px; */
    }
    .right{
        display: inline-block;
        /* margin-left: 50px; */

    }
    .inlineblock{
        display: inline-block;
    }
    .rmargin{
        margin-right: 100px;
    }
    .lmargin{
        margin-left: 100px;
    }
    .bmargin{
        margin-bottom: 70px;
    }
    .box{
        padding: 15px;
        border: #333 solid;
    }
    #Cooltitle{
        background-color: rgb(248, 8, 80);
        font-family: monospace;
        color: white;
    }
.mainbody{
    padding: 1%;
    margin-top: 80px;
    text-align: center;
}
#aboutme{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.53vnOmOqs_mQrN1D5KBXuQHaHa%26pid%3DApi&f=1);
}
